# Run ./scripts/update-requirements.sh to update downstream requirements
aiohttp==3.8.5
alembic==1.12.0
anthropic==0.3.11
asgiref==3.7.2
atlassian-python-api==3.41.3
base58==2.1.1
bcrypt==4.0.0
bitarray==2.9.2
beautifulsoup4==4.11.1
betterproto==2.0.0-beta6
bio==1.6.0
black==22.10.0
boto3==1.26.125
botocore==1.29.125
cachetools==5.2.0
croniter==1.4.1
dateparser==1.1.8
deepgram-sdk==2.11.0
dropbox==11.36.2
duckdb==0.7.1
ebooklib==0.18
feedparser==6.0.10
flake8-import-order==0.18.1
flake8==5.0.4
gitpython==3.1.32
google-api-python-client==2.90.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-search-results==2.4.2
googleapis-common-protos==1.62.0
googlemaps==4.6.0
grpcio==1.56.0
h3==3.7.6
huggingface-hub==0.19.4
idna==3.4
isort==5.10.1
itsdangerous==2.1.2
janus==1.0.0
jax==0.3.23
jedi==0.17.2
jinja2==3.1.2
jq==1.6.0
jsonschema==4.16.0
langcodes==3.3.0
linkedin_scraper==2.11.2
lxml==4.9.1
markdown==3.4.1
markupsafe==2.1.1
marshmallow==3.18.0
more-itertools==9.0.0
msg-parser==1.2.0
msgpack==1.0.7
multidict==6.0.2
munch==2.5.0
mypy==0.990
nats-py==2.4.0
nltk==3.7
notion-client==2.0.0
numpy<2,>=1.20.0
openai==0.28.0
openpyxl==3.1.2
opensearch-py[async]==2.3.1
orjson==3.8.9
pandas<2,>=1.0.0
pdf2image==1.16.3
playwright==1.35.0
protobuf==4.24.3
psutil==5.9.2
psycopg[binary,pool]==3.1.12
pyairtable==2.1.0.post1
pyarrow==10.0.1
pydantic>=1.10.7,<2
pydub==0.25.1
PyGithub==1.59.0
pypandoc==1.11
pypdf==3.16.0
pytesseract==0.3.10
pytest==7.2.0
python-docx==1.0.1
python-dotenv==0.21.0
python-magic==0.4.27
python-pptx<=0.6.21
python-twitter-v2==0.8.1
pytz==2022.2.1
redis[hiredis]==4.5.4
requests==2.31.0
selenium==4.10.0
semver==2.13.0
sentry-sdk[django]==1.31.0
slack-sdk==3.23.0
soundfile==0.12.1
sqlalchemy[asyncio]==2.0.22
sqlparse==0.4.4
structlog==23.1.0
tabulate==0.9.0
tabulate==0.9.0
tqdm==4.64.1
unstructured.pytesseract==0.3.12
unstructured==0.6.6
uvicorn==0.23.1
watchdog==3.0.0
wikipedia-api==0.6.0
yarl==1.8.1
