# Run ./scripts/update-requirements.sh to update downstream requirements

aiohttp==3.8.5
asgiref==3.7.2
betterproto[compiler] @ git+https://github.com/danielgtaylor/python-betterproto.git@5666393f9d10e13609d8eeac8d1ab3815dce5fd6
bitarray==2.9.2
boto3==1.26.125
botocore==1.29.125
black==23.7.0
cachetools==5.2.0
croniter==1.4.1
groq==0.5.0
googleapis-common-protos==1.62.0
kubernetes-asyncio==24.2.3
kubernetes==27.2.0
more-itertools==9.0.0
numpy<2,>=1.20.0
Pillow==9.4.0
posthog==3.0.2
protobuf==4.24.3
psycopg[binary,pool]==3.1.12
python-dotenv>=1.0.1
pytz==2022.1
redis[hiredis]==4.5.4
rich==13.7.0
sentry-sdk==1.31.0
sqlparse==0.4.4
uvicorn==0.23.2
starlette==0.34.0
structlog==23.1.0
typer[all]==0.9.0