# To add, delete or modify a dependency, please update
# the reference .in file and then execute the following to
# update the corresponding locked .txt file:
#  `python -m piptools compile requirements.in requirements-dev.in --output-file requirements-dev.txt`
# Then - optionally - update your installed packages:
#  `python -m piptools sync requirements-dev.txt`

-c requirements.txt

black==22.10.0
django-stubs==1.13.1
djangorestframework-stubs==1.8.0
flake8-import-order==0.18.1
flake8==5.0.4
isort==5.10.1
mypy==0.990
pip-tools==6.13.0
pre-commit==2.20.0
pytest-django==4.5.2
pytest-xdist==3.0.2
pytest==7.2.0
rich==13.3.4
ruff==0.0.261
types-dj-database-url==1.0.0
types-psycopg2==2.9.21.2
types-Pygments==2.13.1.1