# To add, delete or modify a dependency, please update
# the reference .in file and then execute the following to
# update the corresponding locked .txt file:
#  `python -m piptools compile requirements.in requirements-worker.in --output-file requirements-worker.txt`
# Then - optionally - update your installed packages:
#  `python -m piptools sync requirements-worker.txt`