.stat-card {
    padding: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
    background: linear-gradient(180deg, #ffffff 0%, #f8fafc 100%);
}

.stat-card-secondary {
    margin: 0px 0px 0px 0px;
    color: rgb(120 53 15 / 100%);
}
