@import url("/node_modules/prosemirror-view/style/prosemirror.css");
@import "@/assets/index.css";

/** Basics */
.pm-text:not(.pm-colorless) {
  @apply text-gray-900;
}
.pm-text strong {
  @apply font-semibold;
}
.pm-text code {
  @apply bg-gray-100 px-1 py-0.5 font-mono text-sm;
}
/* NOTE :Cleanup: we select only direct line descendants to avoid overriding nested pm-text instances that want to inherit
   (like for Titles we sometimes inherit from the containing line, so we don't want to override that) */
.pm-text.pm-base > * > .line,
.pm-text.pm-base > * > * > .line,
.pm-text.pm-base > * > .line-block.page,
.pm-text.pm-base > * > * > .line-block.page {
  @apply text-base;
  line-height: 1.65;
}
.pm-text.pm-sm > * > .line,
.pm-text.pm-sm > * > * > .line,
.pm-text.pm-sm > * > .line-block.page,
.pm-text.pm-sm > * > * > .line-block.page {
  @apply text-sm;
  line-height: 1.65;
}
.pm-text.pm-inactive .line,
.pm-text.pm-inactive .line-block {
  @apply select-none;
}
.pm-text.pm-inherit .line,
.pm-text.pm-inherit .line-block.page {
  @apply text-inherit;
}
.pm-text .line,
.pm-text .line-block.page {
  @apply relative px-0.5 py-[3px] transition-colors duration-150;
}
.pm-text .line,
.pm-text .line-block {
  @apply transition-colors duration-150;
}
.pm-text.pm-compact .line,
.pm-text.pm-compact .line-block.page {
  @apply px-0 py-[1px];
}
.pm-text.pm-compact.pm-paddingless .line,
.pm-text.pm-compact.pm-paddingless .line-block.page {
  @apply mt-0 mb-0 px-0 py-0;
}
.pm-text.pm-truncate .line,
.pm-text.pm-truncate .line-block {
  @apply truncate;
}

/** Placeholders */
.pm-text .placeholder {
  @apply pointer-events-none text-gray-400 select-none;
}
.pm-text .ProseMirror-focused .placeholder-hidden {
  @apply opacity-100;
}
.pm-text .placeholder-hidden {
  @apply opacity-0;
}

/** Links */
.pm-text a {
  @apply cursor-pointer text-gray-900 underline decoration-gray-300 underline-offset-2 transition-colors duration-150;
}
.pm-text a:hover {
  @apply text-yellow-700 decoration-yellow-700;
}

/** Citations */
.pm-text a.citation {
  @apply rounded-full bg-gray-100 px-1 py-0.5 no-underline;
}
.pm-text a.citation:hover {
  @apply bg-yellow-100 text-yellow-700;
}

/** Selected */
.pm-text .line.selected,
.pm-text .line-block.selected {
  @apply bg-yellow-400/20;
}
.pm-text hr.selected {
  @apply border-yellow-300;
}
.pm-text code.line.selected {
  @apply bg-yellow-400/20;
}
.pm-text p.line.callout.selected {
  @apply bg-yellow-400/20;
}
.pm-text .line-block.page.selected {
  @apply bg-yellow-400/20;
}

/** Dragging */
.pm-text .line.dragging,
.pm-text .line-block.dragging {
  @apply opacity-50;
}

/** Other lines */
.pm-text blockquote.line,
.pm-text.pm-compact blockquote.line {
  @apply my-2 border-l-4 border-gray-400 pl-2;
}
.pm-text p.line.callout,
.pm-text.pm-compact p.line.callout {
  @apply my-2 rounded-sm bg-gray-100 px-2 py-3;
}
.pm-text p.line.callout::before {
  content: "\f06a"; /* fa-icon: circle-exclamation */
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  @apply mr-1 pr-2 pl-1.5 text-gray-700;
}
.pm-text hr {
  @apply my-3 border-gray-200 focus:ring-0 focus:outline-hidden;
}
.pm-text.pm-base > * > code.line {
  @apply my-2.5 block w-full rounded-sm border border-gray-200 bg-gray-100 px-3 py-3 text-sm;
}
.pm-text.pm-compact > * > code.line {
  @apply my-1.5 rounded-sm border border-gray-200 px-3 py-2.5;
}
.pm-text .hljs {
  @apply bg-transparent;
}

/** Line handles */
.pm-text .line-handle {
  @apply absolute top-[4px] -left-[6px] z-40 flex -translate-x-full text-base text-gray-400 opacity-0 transition-colors duration-150;
}
.pm-text .line-handle-button {
  @apply w-5 rounded-sm text-base transition-colors duration-150;
}
.pm-text .line-handle-button:hover {
  @apply bg-gray-100 text-gray-700;
}
.pm-text .line-block > .line-handle {
  @apply mt-[7px];
}
.pm-text .line-block.page > .line-handle,
.pm-text .line-block.file > .line-handle,
.pm-text .line-block.task > .line-handle {
  @apply mt-0;
}
.pm-text .line-block:hover .line-handle,
.pm-text .line:hover .line-handle,
.pm-text .line-block:focus-within .line-handle,
.pm-text .line:focus-within .line-handle {
  @apply opacity-100;
}

/* Block Lines */
.pm-text .line-block {
  @apply relative my-1 cursor-default py-1;
}
.pm-text .line-block.page {
  @apply my-0;
}
.pm-text .line-block.page:hover:not(.selected),
.pm-text .line-block.page:focus-within {
  @apply cursor-pointer bg-gray-100;
}
.pm-text .line-block.ProseMirror-selectednode {
  @apply p-0 outline-hidden;
}

/* Headings */
.pm-text:not(.pm-inherit) h1.line {
  @apply text-3xl font-bold;
  line-height: 1.2;
}
.pm-text:not(.pm-paddingless) h1.line {
  @apply mt-4 mb-2;
}
.pm-text.pm-compact:not(.pm-inherit):not(.pm-paddingless) h1.line {
  @apply mt-2 mb-1;
}
.pm-text:not(.pm-inherit) h2.line {
  @apply text-2xl font-bold;
  line-height: 1.4;
}
.pm-text:not(.pm-paddingless) h2.line {
  @apply mt-2.5 mb-1.5;
}
.pm-text.pm-compact:not(.pm-inherit):not(.pm-paddingless) h2.line {
  @apply mt-1.5 mb-0.5;
}
.pm-text:not(.pm-inherit) h3.line {
  @apply text-xl font-bold;
  line-height: 1.5;
}
.pm-text:not(.pm-paddingless) h3.line {
  @apply mt-1.5 mb-0.5;
}
.pm-text.pm-compact:not(.pm-inherit):not(.pm-paddingless) h3.line {
  @apply mt-1 mb-0;
}
.pm-text:not(.pm-inherit) h4.line {
  @apply text-lg font-bold;
  line-height: 1.5;
}
.pm-text:not(.pm-paddingless) h4.line {
  @apply mt-1.5 mb-0.5;
}
.pm-text.pm-compact:not(.pm-inherit):not(.pm-paddingless) h4.line {
  @apply mt-0.5 mb-0;
}

/* Lists */
.pm-text ul li.line.list-unordered {
  @apply list-inside list-disc pl-1;
}
.pm-text ol li.line.list-ordered {
  @apply list-inside list-decimal pl-1;
  list-style-position: inside;
  list-style-type: decimal;
}
.pm-text ol ol li.line.list-ordered {
  list-style-type: lower-alpha;
}
.pm-text ol ol ol li.line.list-ordered {
  list-style-type: lower-roman;
}

/* Span Nodes */
.pm-text span.spoiler {
  @apply rounded-sm bg-gray-400 transition-colors duration-150;
}
.pm-text span.spoiler:hover {
  @apply bg-gray-100;
}
.pm-text span.spoiler:not(:hover) {
  @apply text-transparent;
}
.pm-text .span-node-view {
  @apply rounded-sm px-1 transition-colors duration-150;
}
.pm-text .span-node-view:hover,
.pm-text .span-node-view:focus-within {
  @apply cursor-pointer bg-gray-100;
}

.ProseMirror-focused {
  outline: none;
}
.ProseMirror-selectednode {
  @apply outline-yellow-700;
}
.ProseMirror[contenteditable="false"] {
  user-select: text; /* let user highlight text */
  -webkit-user-select: text;
  -moz-user-select: text;
}
