[data-destack-theme] {
    --destack-space-1: calc(4px * var(--destack-scaling));
    --destack-space-2: calc(8px * var(--destack-scaling));
    --destack-space-3: calc(12px * var(--destack-scaling));
    --destack-space-4: calc(16px * var(--destack-scaling));
    --destack-space-5: calc(24px * var(--destack-scaling));
    --destack-space-6: calc(32px * var(--destack-scaling));
    --destack-space-7: calc(40px * var(--destack-scaling));
    --destack-space-8: calc(48px * var(--destack-scaling));
    --destack-space-9: calc(64px * var(--destack-scaling));
}

[data-destack-theme][data-radius] {
    --destack-radius-1: calc(3px * var(--destack-scaling) * var(--destack-radius-factor));
    --destack-radius-2: calc(4px * var(--destack-scaling) * var(--destack-radius-factor));
    --destack-radius-3: calc(6px * var(--destack-scaling) * var(--destack-radius-factor));
    --destack-radius-4: calc(8px * var(--destack-scaling) * var(--destack-radius-factor));
    --destack-radius-5: calc(12px * var(--destack-scaling) * var(--destack-radius-factor));
    --destack-radius-6: calc(16px * var(--destack-scaling) * var(--destack-radius-factor));
}

[data-destack-theme][data-radius='none'] {
    --destack-radius-factor: 0;
    --destack-radius-full: 0px;
    --destack-radius-thumb: 0.5px;
}

[data-destack-theme][data-radius='small'] {
    --destack-radius-factor: 0.75;
    --destack-radius-full: 0px;
    --destack-radius-thumb: 0.5px;
}

[data-destack-theme][data-radius='medium'] {
    --destack-radius-factor: 1;
    --destack-radius-full: 0px;
    --destack-radius-thumb: 9999px;
}

[data-destack-theme][data-radius='large'] {
    --destack-radius-factor: 1.5;
    --destack-radius-full: 0px;
    --destack-radius-thumb: 9999px;
}

[data-destack-theme][data-radius='full'] {
    --destack-radius-factor: 1.5;
    --destack-radius-full: 9999px;
    --destack-radius-thumb: 9999px;
}

[data-destack-theme] {
    --destack-font-size-1: calc(12px * var(--destack-scaling));
    --destack-font-size-2: calc(14px * var(--destack-scaling));
    --destack-font-size-3: calc(16px * var(--destack-scaling));
    --destack-font-size-4: calc(18px * var(--destack-scaling));
    --destack-font-size-5: calc(20px * var(--destack-scaling));
    --destack-font-size-6: calc(24px * var(--destack-scaling));
    --destack-font-size-7: calc(28px * var(--destack-scaling));
    --destack-font-size-8: calc(35px * var(--destack-scaling));
    --destack-font-size-9: calc(60px * var(--destack-scaling));

    --destack-font-weight-light: 300;
    --destack-font-weight-regular: 400;
    --destack-font-weight-medium: 500;
    --destack-font-weight-bold: 700;

    --destack-line-height-1: calc(16px * var(--destack-scaling));
    --destack-line-height-2: calc(20px * var(--destack-scaling));
    --destack-line-height-3: calc(24px * var(--destack-scaling));
    --destack-line-height-4: calc(26px * var(--destack-scaling));
    --destack-line-height-5: calc(28px * var(--destack-scaling));
    --destack-line-height-6: calc(30px * var(--destack-scaling));
    --destack-line-height-7: calc(36px * var(--destack-scaling));
    --destack-line-height-8: calc(40px * var(--destack-scaling));
    --destack-line-height-9: calc(60px * var(--destack-scaling));

    --destack-letter-spacing-1: 0.0025em;
    --destack-letter-spacing-2: 0em;
    --destack-letter-spacing-3: 0em;
    --destack-letter-spacing-4: -0.0025em;
    --destack-letter-spacing-5: -0.005em;
    --destack-letter-spacing-6: -0.00625em;
    --destack-letter-spacing-7: -0.0075em;
    --destack-letter-spacing-8: -0.01em;
    --destack-letter-spacing-9: -0.025em;

    /* default values */

    --destack-default-font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI (Custom)', Roboto, 'Helvetica Neue', 'Open Sans (Custom)', system-ui,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --destack-default-font-size: var(--destack-font-size-3); /* Same size used for `<Text size="3">` */
    --destack-default-font-style: normal;
    --destack-default-font-weight: var(--destack-font-weight-regular);
    --destack-default-line-height: 1.5; /* Equivalent to the line-height used for `<Text size="3">` 16px * 1.5 = 24px */
    --destack-default-letter-spacing: 0em;
    --destack-default-leading-trim-start: 0.42em;
    --destack-default-leading-trim-end: 0.36em;

    /* Heading */

    --destack-heading-font-family: var(--destack-default-font-family);
    --destack-heading-font-size-adjust: 1;
    --destack-heading-font-style: normal;
    --destack-heading-leading-trim-start: var(--destack-default-leading-trim-start);
    --destack-heading-leading-trim-end: var(--destack-default-leading-trim-end);
    --destack-heading-letter-spacing: 0em;

    --destack-heading-line-height-1: calc(16px * var(--destack-scaling));
    --destack-heading-line-height-2: calc(18px * var(--destack-scaling));
    --destack-heading-line-height-3: calc(22px * var(--destack-scaling));
    --destack-heading-line-height-4: calc(24px * var(--destack-scaling));
    --destack-heading-line-height-5: calc(26px * var(--destack-scaling));
    --destack-heading-line-height-6: calc(30px * var(--destack-scaling));
    --destack-heading-line-height-7: calc(36px * var(--destack-scaling));
    --destack-heading-line-height-8: calc(40px * var(--destack-scaling));
    --destack-heading-line-height-9: calc(60px * var(--destack-scaling));

    /* Code */

    --destack-code-font-family:
        'Menlo', 'Consolas (Custom)', 'Bitstream Vera Sans Mono', monospace, 'Apple Color Emoji', 'Segoe UI Emoji';
    --destack-code-font-size-adjust: 0.95;
    --destack-code-font-style: normal;
    --destack-code-font-weight: inherit;
    --destack-code-letter-spacing: -0.007em;
    --destack-code-padding-top: 0.1em;
    --destack-code-padding-bottom: 0.1em;
    --destack-code-padding-left: 0.25em;
    --destack-code-padding-right: 0.25em;

    /* Strong */

    --destack-strong-font-family: var(--destack-default-font-family);
    --destack-strong-font-size-adjust: 1;
    --destack-strong-font-style: inherit;
    --destack-strong-font-weight: var(--destack-font-weight-bold);
    --destack-strong-letter-spacing: 0em;

    /* Em */

    --destack-em-font-family: 'Times New Roman', 'Times', serif;
    --destack-em-font-size-adjust: 1.18;
    --destack-em-font-style: italic;
    --destack-em-font-weight: inherit;
    --destack-em-letter-spacing: -0.025em;

    /* Quote */

    --destack-quote-font-family: 'Times New Roman', 'Times', serif;
    --destack-quote-font-size-adjust: 1.18;
    --destack-quote-font-style: italic;
    --destack-quote-font-weight: inherit;
    --destack-quote-letter-spacing: -0.025em;

    /* Tabs */

    --destack-tab-active-letter-spacing: -0.01em;
    --destack-tab-active-word-spacing: 0em;
    --destack-tab-inactive-letter-spacing: 0em;
    --destack-tab-inactive-word-spacing: 0em;
}
[data-destack-theme] {
    --destack-shadow-1:
        inset 0 0 0 1px var(--destack-gray-a5),
    inset 0 1.5px 2px 0 var(--destack-gray-a2),
    inset 0 1.5px 2px 0 var(--destack-black-a2);

    --destack-shadow-2:
        0 0 0 1px var(--destack-gray-a3),
    0 0 0 0.5px var(--destack-black-a1),
    0 1px 1px 0 var(--destack-gray-a2),
    0 2px 1px -1px var(--destack-black-a1),
    0 1px 3px 0 var(--destack-black-a1);

    --destack-shadow-3:
        0 0 0 1px var(--destack-gray-a3),
    0 2px 3px -2px var(--destack-gray-a3),
    0 3px 12px -4px var(--destack-black-a2),
    0 4px 16px -8px var(--destack-black-a2);

    --destack-shadow-4:
        0 0 0 1px var(--destack-gray-a3),
    0 8px 40px var(--destack-black-a1),
    0 12px 32px -16px var(--destack-gray-a3);

    --destack-shadow-5:
        0 0 0 1px var(--destack-gray-a3),
    0 12px 60px var(--destack-black-a3),
    0 12px 32px -16px var(--destack-gray-a5);

    --destack-shadow-6:
        0 0 0 1px var(--destack-gray-a3),
    0 12px 60px var(--destack-black-a3),
    0 16px 64px var(--destack-gray-a2),
    0 16px 36px -20px var(--destack-gray-a7);
}
@supports (color: color-mix(in oklab, white, black)) {
    [data-destack-theme] {
        --destack-shadow-1:
            inset 0 0 0 1px var(--destack-gray-a5),
      inset 0 1.5px 2px 0 var(--destack-gray-a2),
      inset 0 1.5px 2px 0 var(--destack-black-a2);

        --destack-shadow-2:
            0 0 0 1px color-mix(in oklab, var(--destack-gray-a3), var(--destack-gray-3) 25%),
      0 0 0 0.5px var(--destack-black-a1),
      0 1px 1px 0 var(--destack-gray-a2),
      0 2px 1px -1px var(--destack-black-a1),
      0 1px 3px 0 var(--destack-black-a1);

        --destack-shadow-3:
            0 0 0 1px color-mix(in oklab, var(--destack-gray-a3), var(--destack-gray-3) 25%),
      0 2px 3px -2px var(--destack-gray-a3),
      0 3px 12px -4px var(--destack-black-a2),
      0 4px 16px -8px var(--destack-black-a2);

        --destack-shadow-4:
            0 0 0 1px color-mix(in oklab, var(--destack-gray-a3), var(--destack-gray-3) 25%),
      0 8px 40px var(--destack-black-a1),
      0 12px 32px -16px var(--destack-gray-a3);

        --destack-shadow-5:
            0 0 0 1px color-mix(in oklab, var(--destack-gray-a3), var(--destack-gray-3) 25%),
      0 12px 60px var(--destack-black-a3),
      0 12px 32px -16px var(--destack-gray-a5);

        --destack-shadow-6:
            0 0 0 1px color-mix(in oklab, var(--destack-gray-a3), var(--destack-gray-3) 25%),
      0 12px 60px var(--destack-black-a3),
      0 16px 64px var(--destack-gray-a2),
      0 16px 36px -20px var(--destack-gray-a7);
    }
}
[data-destack-theme="dark"] {
    --destack-shadow-1:
        inset 0 -1px 1px 0 var(--destack-gray-a3),
    inset 0 0 0 1px var(--destack-gray-a3),
    inset 0 3px 4px 0 var(--destack-black-a5),
    inset 0 0 0 1px var(--destack-gray-a4);

    --destack-shadow-2:
        0 0 0 1px var(--destack-gray-a6),
    0 0 0 0.5px var(--destack-black-a3),
    0 1px 1px 0 var(--destack-black-a6),
    0 2px 1px -1px var(--destack-black-a6),
    0 1px 3px 0 var(--destack-black-a5);

    --destack-shadow-3:
        0 0 0 1px var(--destack-gray-a6),
    0 2px 3px -2px var(--destack-black-a3),
    0 3px 8px -2px var(--destack-black-a6),
    0 4px 12px -4px var(--destack-black-a7);

    --destack-shadow-4:
        0 0 0 1px var(--destack-gray-a6),
    0 8px 40px var(--destack-black-a3),
    0 12px 32px -16px var(--destack-black-a5);

    --destack-shadow-5:
        0 0 0 1px var(--destack-gray-a6),
    0 12px 60px var(--destack-black-a5),
    0 12px 32px -16px var(--destack-black-a7);

    --destack-shadow-6:
        0 0 0 1px var(--destack-gray-a6),
    0 12px 60px var(--destack-black-a4),
    0 16px 64px var(--destack-black-a6),
    0 16px 36px -20px var(--destack-black-a11);
}
@supports (color: color-mix(in oklab, white, black)) {
    [data-destack-theme="dark"] {
        --destack-shadow-1:
            inset 0 -1px 1px 0 var(--destack-gray-a3),
      inset 0 0 0 1px var(--destack-gray-a3),
      inset 0 3px 4px 0 var(--destack-black-a5),
      inset 0 0 0 1px var(--destack-gray-a4);

        --destack-shadow-2:
            0 0 0 1px color-mix(in oklab, var(--destack-gray-a6), var(--destack-gray-6) 25%),
      0 0 0 0.5px var(--destack-black-a3),
      0 1px 1px 0 var(--destack-black-a6),
      0 2px 1px -1px var(--destack-black-a6),
      0 1px 3px 0 var(--destack-black-a5);

        --destack-shadow-3:
            0 0 0 1px color-mix(in oklab, var(--destack-gray-a6), var(--destack-gray-6) 25%),
      0 2px 3px -2px var(--destack-black-a3),
      0 3px 8px -2px var(--destack-black-a6),
      0 4px 12px -4px var(--destack-black-a7);

        --destack-shadow-4:
            0 0 0 1px color-mix(in oklab, var(--destack-gray-a6), var(--destack-gray-6) 25%),
      0 8px 40px var(--destack-black-a3),
      0 12px 32px -16px var(--destack-black-a5);

        --destack-shadow-5:
            0 0 0 1px color-mix(in oklab, var(--destack-gray-a6), var(--destack-gray-6) 25%),
      0 12px 60px var(--destack-black-a5),
      0 12px 32px -16px var(--destack-black-a7);

        --destack-shadow-6:
            0 0 0 1px color-mix(in oklab, var(--destack-gray-a6), var(--destack-gray-6) 25%),
      0 12px 60px var(--destack-black-a4),
      0 16px 64px var(--destack-black-a6),
      0 16px 36px -20px var(--destack-black-a11);
    }
}
@media (prefers-color-scheme: dark) {
    [data-destack-theme="system"] {
        --destack-shadow-1:
            inset 0 -1px 1px 0 var(--destack-gray-a3),
    inset 0 0 0 1px var(--destack-gray-a3),
    inset 0 3px 4px 0 var(--destack-black-a5),
    inset 0 0 0 1px var(--destack-gray-a4);

        --destack-shadow-2:
            0 0 0 1px var(--destack-gray-a6),
    0 0 0 0.5px var(--destack-black-a3),
    0 1px 1px 0 var(--destack-black-a6),
    0 2px 1px -1px var(--destack-black-a6),
    0 1px 3px 0 var(--destack-black-a5);

        --destack-shadow-3:
            0 0 0 1px var(--destack-gray-a6),
    0 2px 3px -2px var(--destack-black-a3),
    0 3px 8px -2px var(--destack-black-a6),
    0 4px 12px -4px var(--destack-black-a7);

        --destack-shadow-4:
            0 0 0 1px var(--destack-gray-a6),
    0 8px 40px var(--destack-black-a3),
    0 12px 32px -16px var(--destack-black-a5);

        --destack-shadow-5:
            0 0 0 1px var(--destack-gray-a6),
    0 12px 60px var(--destack-black-a5),
    0 12px 32px -16px var(--destack-black-a7);

        --destack-shadow-6:
            0 0 0 1px var(--destack-gray-a6),
    0 12px 60px var(--destack-black-a4),
    0 16px 64px var(--destack-black-a6),
    0 16px 36px -20px var(--destack-black-a11);
    }
    @supports (color: color-mix(in oklab, white, black)) {
        [data-destack-theme="system"] {
            --destack-shadow-1:
                inset 0 -1px 1px 0 var(--destack-gray-a3),
      inset 0 0 0 1px var(--destack-gray-a3),
      inset 0 3px 4px 0 var(--destack-black-a5),
      inset 0 0 0 1px var(--destack-gray-a4);

            --destack-shadow-2:
                0 0 0 1px color-mix(in oklab, var(--destack-gray-a6), var(--destack-gray-6) 25%),
      0 0 0 0.5px var(--destack-black-a3),
      0 1px 1px 0 var(--destack-black-a6),
      0 2px 1px -1px var(--destack-black-a6),
      0 1px 3px 0 var(--destack-black-a5);

            --destack-shadow-3:
                0 0 0 1px color-mix(in oklab, var(--destack-gray-a6), var(--destack-gray-6) 25%),
      0 2px 3px -2px var(--destack-black-a3),
      0 3px 8px -2px var(--destack-black-a6),
      0 4px 12px -4px var(--destack-black-a7);

            --destack-shadow-4:
                0 0 0 1px color-mix(in oklab, var(--destack-gray-a6), var(--destack-gray-6) 25%),
      0 8px 40px var(--destack-black-a3),
      0 12px 32px -16px var(--destack-black-a5);

            --destack-shadow-5:
                0 0 0 1px color-mix(in oklab, var(--destack-gray-a6), var(--destack-gray-6) 25%),
      0 12px 60px var(--destack-black-a5),
      0 12px 32px -16px var(--destack-black-a7);

            --destack-shadow-6:
                0 0 0 1px color-mix(in oklab, var(--destack-gray-a6), var(--destack-gray-6) 25%),
      0 12px 60px var(--destack-black-a4),
      0 16px 64px var(--destack-black-a6),
      0 16px 36px -20px var(--destack-black-a11);
        }
    }
}
