// SYNTAX TEST "source.ds"

// types / intervals / constraints / interval constraints accept in-bounds static arguments
struct InlineBuffer<T, comptime N: 0..=4096> {
// <- keyword.declaration.type.ds
    storage: [T; N];
}

let buffer: InlineBuffer<uint8, 64>;
buffer satisfies InlineBuffer<uint8, 64>;

// types / intervals / constraints / interval constraints reject out-of-bounds static arguments
struct InlineBuffer<T, comptime N: 0..=4096> {
    storage: [T; N];
}

let buffer: InlineBuffer<uint8, 4097>;
